
/*Mobile*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap');

@media (min-width:375px){
    body{
        margin: 0 auto;
        background-color: hsl(0, 0%, 81%);
        width: 90vw;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    main{
        font-size: 1em;
        font-family: 'Barlow Semi Condensed', sans-serif;
        background-color: hsl(0, 0%, 81%);
        width: 80vw;
        height: 400vh;
        display: flex;
        flex-direction: column;
    }

    /*cards*/
    .card1{
        margin-top: 15%;
        background-color: hsl(263, 55%, 52%);
        color: hsl(0, 0%, 75%);
    }

    .card2{
        background-color: hsl(217, 19%, 35%);
        color: hsl(0, 0%, 75%);
    }

    .card3{
        background-color: hsl(0, 0%, 100%);
        color: hsl(0, 0%, 55%);
    }

    .card4{
        background-color: hsl(219, 29%, 14%);
        color: hsl(0, 0%, 75%);   
    }

    .card5{
        background-color: hsl(0, 0%, 100%);
        color: hsl(0, 0%, 55%);
        margin-bottom: 15%;
    }

    aside{
        margin-top: 5%;
        margin-bottom: 5%;
        font-weight: 700;
        padding: 5% 5% 5% 5%;
        border-radius: 8px;
    }


    
    /*header*/

    
    aside > header{
        margin-top: 3%;
        margin-bottom: 3%;

    }


    /* images */
    .img1{
        border-color: hsl(263, 55%, 65%);
    }
    .img2{
        border-color: hsl(263, 55%, 90%);
    }
    .img3{
        border-color: hsl(0, 0%, 100%);
    }

    .img4{
        border-color: hsl(263, 55%, 52%);
    }

    .img5{
        border-color: hsl(0, 0%, 100%);
    }

    img{
        max-width: 33px;
        border-width: 2px;
        border-radius: 100%;
        border-style: solid;
    }


        /*Names*/

    .name1, .name2,  .name3, .name4, .name5{
        margin-left: 20%;
        margin-top: -15%;
    }

    .sname1, .sname2, .sname4{
        color: hsl(0, 0%, 100%);
        font-weight: 600;
    }
    .sname3, .sname5{
        color: hsl(0, 0%, 25%);
        font-weight: 600;
    }

    /*paragraphs*/
    .p1card1, .p1card2, .p1card4{
        color: hsl(0, 0%, 100%);
        font-weight: 600;
    }
    .p1card3, .p1card5{
        color: hsl(0, 0%, 25%);
        font-weight: 600;
    }
}











@media (min-width: px) and (max-width: px){
    body{
        background-color: hsl(0, 0%, 81%);
    }
    .wall{
        margin: 0 auto;
        font-size: 13px;
        font-family: 'Barlow Semi Condensed', sans-serif;
        background-color: hsl(0, 0%, 81%);
        width: 80%;
    }

    /*cards*/
    .card1{
        padding: 5% 7% 5% 7%;
        border-radius: 8px;
        background-color: hsl(263, 55%, 52%);
        color: hsl(0, 0%, 75%);
        margin-top: 20%;
        margin-bottom: 10%;
    }

    .card2{
        padding: 5% 7% 5% 7%;
        border-radius: 8px;
        background-color: hsl(217, 19%, 35%);
        color: hsl(0, 0%, 75%);
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .card3{
        padding: 5% 7% 5% 7%;
        border-radius: 8px;
        background-color: hsl(0, 0%, 100%);
        color: hsl(0, 0%, 45%);
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .card4{
        padding: 5% 7% 5% 7%;
        border-radius: 8px;
        background-color: hsl(219, 29%, 14%);
        color: hsl(0, 0%, 75%);
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .card5{
        padding: 5% 7% 5% 7%;
        border-radius: 8px;
        background-color: hsl(0, 0%, 100%);
        color: hsl(0, 0%, 45%);
        margin-top: 10%;
        margin-bottom: 20%;
    }

    /*header*/

    .header1, .header2, .header3, .header4, .header5{
        margin-top: 1%;
        margin-bottom: 8%;
    }

    /* images */

    .img1, .img2, .img3, .img4, .img5{
        width: 11%;
        border-radius: 100%;
        margin-bottom: 3%;
    }
    .img1{
        border-style: solid;
        border-width: 2px;
        border-color: hsl(263, 55%, 65%);
    }
    .img2{
        border-style: solid;
        border-width: 2px;
        border-color: hsl(263, 55%, 90%);
    }
    .img3{
        border-style: solid;
        border-width: 3px;
        border-color: hsl(0, 0%, 100%);
    }

    .img4{
        border-style: solid;
        border-width: 2px;
        border-color: hsl(263, 55%, 52%);
    }

    .img5{
        border-style: solid;
        border-width: 3px;
        border-color: hsl(0, 0%, 100%);
    }

        /*Names*/

    .name1, .name2,  .name3, .name4, .name5{
        margin-left: 20%;
        margin-top: -15%;
    }

    .sname1, .sname2, .sname4{
        color: hsl(0, 0%, 100%);
        font-weight: 600;
    }
    .sname3, .sname5{
        color: hsl(0, 0%, 25%);
        font-weight: 600;
    }

    /*paragraphs*/
    .p1card1, .p1card2, .p1card4{
        color: hsl(0, 0%, 100%);
        font-weight: 600;
    }
    .p1card3, .p1card5{
        color: hsl(0, 0%, 25%);
        font-weight: 600;
    }
}




@media (min-width: px) and (max-width: px){
    body{
        background-color: hsl(0, 0%, 81%);
    }
    .wall{
        font-size: 12px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        font-family: 'Barlow Semi Condensed', sans-serif;
        background-color: hsl(0, 0%, 81%);
        width: 90%;
        grid-column-gap: 3%;
        grid-row-gap: 2%;
        margin: 0 auto;
        margin-top: 3%;
    }


    /* cards */
    .card1{
        padding: 5% 5% 5% 5%;
        border-radius: 8px;
        background-color: hsl(263, 55%, 52%);
        grid-column: 1/4;
        color: hsl(0, 0%, 75%);
    }

    .card2{
        padding: 6% 6% 6% 6%;
        border-radius: 8px;
        background-color: hsl(217, 19%, 35%);
        grid-column: 4/5;
        grid-row: 1/1;
        color: hsl(0, 0%, 75%);
    }

    .card3{
        padding: 5% 5% 5% 5%;
        border-radius: 8px;
        background-color: hsl(0, 0%, 100%);
        color: hsl(0, 0%, 45%);
        grid-column: 1/2;
        grid-row: 2/2;
    }

    .card4{
        padding: 5% 5% 5% 5%;
        border-radius: 8px;
        background-color: hsl(219, 29%, 14%);
        grid-column: 2/5;
        grid-row: 2/2;
        color: hsl(0, 0%, 75%);
    }

    .card5{
        padding: 5% 5% 5% 5%;
        border-radius: 8px;
        background-color: hsl(0, 0%, 100%);
        color: hsl(0, 0%, 45%);
        grid-row: 3/3;
        grid-column: 1/5;
        
    }

     /*header*/
    .header1{
        margin-bottom: 7%;
    }
    .header2, .header3{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .header4{
        margin-bottom: 7%;
    }

    .header5{
        margin-bottom: 6%;
    }


    /* images */

    .img1, .img4{
        margin-bottom: 5%;
        width: 8%;
        border-radius: 100%;
    }
    .img2, .img3{
        margin-left: -2%;
        width: 20%;
        border-radius: 100%;
    }
    .img5{
        width: 6%;
        margin-bottom: 10%;
    }

    /* Names */

    .name1, .name4{
        margin-left: 13%;
        margin-top: -12.4%;
    }

    .name2, .name3{
        width: 80%;
        margin-left: 23%;
        margin-top: -27%;
    }
    .name5{
        margin-top: -15.3%;
        margin-left: 10%;
    }

    .sname1, .sname2, .sname4{
        color: hsl(0, 0%, 100%);
        font-weight: 600;
    }
    .sname3, .sname5{
        color: hsl(0, 0%, 20%);
        font-weight: 600;
    }

    /* Paragrafos dos cards */
    /*card 1*/
    .p1card1{
        font-weight: 600;
        color: hsl(0, 0%, 100%);
        width: 100%;
        font-size: 17px;
    }
    .p2card1{
        width: 100%;
        font-size: 13px;
    }

    /*card 2*/
    .p1card2{
        font-size: 17px;
        font-weight: 600;
        color: hsl(0, 0%, 100%);
    }
    .p2card2{
        width: 100%;
    }


    /*card 3*/
    .p1card3{
        font-weight: 600;
        color: hsl(0, 0%, 20%);
        font-size: 17px;
    }
    .p2card3{
        color: hsl(0, 0%, 35%);
        font-size: 13px;
    }


    /*card 4*/
    .p1card4{
        font-weight: 600;
        color: hsl(0, 0%, 100%);
        width: 100%;
        font-size: 17px;
    }
    .p2card4{
        width: 100%;
        font-size: 13px;
    }

    /*card 5*/

    .p1card5{
        font-weight: 600;
        color: hsl(0, 0%, 20%);
        font-size: 17px;
    }
    .p2card5{
        color: hsl(0, 0%, 35%);
        font-size: 13px;
        width: 100%;
    }


    .attribution{
        margin-right: -45%;
    }
}